:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

audio:not([controls]) {
  display: none; }

details {
  display: block; }

input[type="number"] {
  width: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

main {
  display: block; }

summary {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 1.4rem; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

[unselectable] {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0; }

:root {
  box-sizing: border-box;
  cursor: default;
  text-rendering: optimizeLegibility; }

html {
  background-color: #FFFFFF; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button,
input,
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::selection {
  background-color: #B3D4FC;
  text-shadow: none; }

@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }

.clearfix:before, .clearfix:after {
  content: "";
  display: block; }

.clearfix:after {
  clear: both; }

/*--- Base ---*/
body {
  color: #644f44;
  background-color: #fff;
  background-repeat: repeat;
  background-position: center;
  background-image: url("../images/_antique/common/bg.png"); }

a {
  color: #926a4a;
  -webkit-tap-highlight-color: rgba(170, 102, 102, 0.2); }

.en {
  font-family: "Lora", serif; }

.c-title {
  margin-bottom: 24px;
  padding: 10px 0;
  border-top: 1px solid #b3a59a;
  border-bottom: 1px solid #b3a59a; }
  @media (max-width: 767px) {
    .c-title {
      margin-left: -15px;
      margin-right: -15px; } }
  .c-title .en {
    margin: 0;
    font-size: 28px; }
    .c-title .en:before, .c-title .en:after {
      content: "";
      display: inline-block;
      vertical-align: middle; }
    .c-title .en:before {
      content: url("../images/_antique/common/tlt_before.png");
      margin-right: 24px; }
    .c-title .en:after {
      content: url("../images/_antique/common/tlt_after.png");
      margin-left: 24px; }

.c-title-sm .en {
  font-size: 28px; }

.c-title-page .en {
  position: relative;
  font-size: 24px; }
  .c-title-page .en:before, .c-title-page .en:after {
    content: "";
    display: inline-block;
    width: 38px;
    height: 20px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto; }
  .c-title-page .en:before {
    background-image: url("../images/_antique/page/tlt_before.png");
    margin-right: 24px; }
  .c-title-page .en:after {
    background-image: url("../images/_antique/page/tlt_after.png");
    margin-left: 24px; }

.c-title-page .jp {
  font-size: 14px;
  color: #644f44; }

@media (min-width: 768px) {
  .c-title-page .en {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 40px; }
    .c-title-page .en:before, .c-title-page .en:after {
      width: 68px;
      height: 30px; } }

.btn {
  transition: all 100ms ease-in; }
  .btn:hover {
    opacity: .8; }

.btn-default {
  color: #f4f1ec;
  background-color: #766156;
  background-repeat: repeat;
  background-position: center;
  background-image: url("../images/_antique/common/bg_02.png");
  border-color: transparent; }

.btn-primary {
  color: #fff;
  background-color: #b3a59a;
  border-color: #b3a59a; }

.btn-secondary {
  color: #888;
  background-color: #f5f5f5;
  border-color: #ddd; }

.btn-shark {
  color: #eff5f8;
  background-color: #6b5345;
  border-color: #6b5345; }

.btn-ace {
  color: #888;
  background-color: #fff;
  border-color: #ddd; }

.btn-radius {
  border-radius: 100%; }

.btn-xl {
  font-size: 112%;
  padding: 16px 22px; }

.btn-ll {
  padding: 12px 20px; }

.btn-lm {
  padding: 10px 18px; }

.btn-ls {
  padding: 8px 16px; }

.btn-mid {
  font-size: 100%;
  padding: 6px 12px; }

.btn-sl {
  font-size: 96%;
  padding: 6px 8px; }

.btn-sm {
  font-size: 88%;
  padding: 5px 8px; }

.btn-ss {
  font-size: 80%;
  padding: 4px 6px; }

.btn .fa {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 108%; }

.btn-catalog-info {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  width: 42px;
  height: 42px;
  color: #fff;
  background-color: #ff3388;
  outline: none;
  border-radius: 100%;
  box-shadow: 0 1px 2px 0 rgba(34, 34, 34, 0.3);
  transition: all 160ms ease-in; }
  .btn-catalog-info:focus {
    outline: none; }
  .btn-catalog-info:hover {
    background-color: rgba(255, 51, 136, 0.8); }

.breadcrumb {
  background-color: transparent;
  border-top: 1px solid #e2dad6;
  border-bottom: 1px solid #e2dad6; }

.header-top {
  overflow: hidden;
  background-color: rgba(253, 250, 245, 0.5); }

.site-title {
  font-size: 10px;
  color: #a0928a; }

.site-logo a:hover {
  opacity: .8; }

@media (max-width: 480px) {
  .site-title {
    background-color: #f0f0f0; } }

@media (min-width: 768px) {
  .site-title {
    font-size: 11px; } }

.subnavi a {
  font-size: 14px;
  color: #a0928a;
  background-color: transparent;
  border: none; }
  .subnavi a span {
    display: inline; }
  .subnavi a:hover {
    color: #776961;
    text-decoration: underline; }

.subnavi i {
  font-size: 126%;
  color: #a0928a; }

.drawer-content-back > header {
  background-color: #fcf7f2;
  background-repeat: repeat;
  background-position: center;
  background-image: url("../images/_antique/common/bg_01.png");
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); }

.header-contact .btn-default {
  background-image: url("../images/_antique/common/bg_brown.png"); }

.contact-sp .contact {
  background-color: #766156; }
  .contact-sp .contact > li:nth-child(2) {
    border-left: 1px solid #f4f1ec; }
  .contact-sp .contact > li > a {
    color: #f4f1ec; }

#footer {
  color: #f1eae6;
  background-color: #766156;
  background-repeat: repeat;
  background-position: center;
  background-image: url("../images/_antique/common/bg_brown.png"); }
  #footer .footer-link .btn-default {
    color: #7a6656;
    background-color: #d7cac0;
    background-repeat: repeat;
    background-position: center;
    background-image: url("../images/_antique/common/bg_01.png"); }

.footer-navi-wrap a {
  color: #f1eae6; }

.footer-navi-wrap .foot-navi > li a:hover {
  border-bottom: 1px dotted #f1eae6; }

.footer-social-button-wrap {
  background-color: #fcf7f2;
  background-repeat: repeat;
  background-position: center;
  background-image: url("../images/_antique/common/bg_01.png");
  border-top: 1px solid #f0e6dc;
  border-bottom: 1px solid #f0e6dc; }
  .footer-social-button-wrap .pagetop.btn-shark {
    background: rgba(118, 97, 86, 0.9);
    border: 1px solid transparent; }
    .footer-social-button-wrap .pagetop.btn-shark:hover {
      opacity: .8; }
  .footer-social-button-wrap .pagetop .fa {
    color: #fff; }

.footer-contact-wrap {
  background-color: transparent;
  border-bottom: 1px solid #f1eae6; }
  .footer-contact-wrap a {
    color: #f1eae6; }

.copyright {
  color: #f1eae6; }

@media (max-width: 768px) {
  #drawerOverlay {
    background-color: rgba(34, 34, 34, 0.7); } }

#drawer {
  background-color: #fff;
  background-repeat: repeat;
  background-position: center;
  background-image: url("../images/_antique/common/bg.png"); }

.drawer-btn {
  font-family: 'Lora', serif;
  color: #f1eae6;
  text-shadow: 0 -1px 1px rgba(89, 69, 57, 0.8);
  background-color: rgba(105, 81, 67, 0.7);
  border: 1px solid #634c3f; }
  .drawer-btn:hover {
    background-color: rgba(89, 69, 57, 0.7); }

.drawer-btn-close {
  background-color: #705c52;
  border-left-color: #766156; }
  .drawer-btn-close:hover {
    background-color: #922; }

.drawer-navi {
  background-color: #f4f1ec; }
  .drawer-navi:before {
    background-color: #f4f1ec; }
  .drawer-navi .logo-area {
    color: #fff;
    background-color: #766156;
    background: linear-gradient(to bottom, #94796c 0%, #766156 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#94796c', EndColorStr='#766156');
    border-bottom: 1px solid #999; }

.drawer-inner {
  background-color: #f4f1ec; }

.drawer-gnavi > li.current-menu-item {
  color: #f1eae6;
  background-color: #886957; }
  .drawer-gnavi > li.current-menu-item > a {
    color: #f1eae6; }
    .drawer-gnavi > li.current-menu-item > a > .ja {
      color: #f1eae6; }
    .drawer-gnavi > li.current-menu-item > a > .en {
      color: #f1eae6; }
  .drawer-gnavi > li.current-menu-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 100%;
    border-left: 4px solid #766156; }

.drawer-gnavi > li > a {
  color: #644f44;
  border-bottom: 1px solid #ccc; }
  .drawer-gnavi > li > a > .ja {
    color: #644f44; }
  .drawer-gnavi > li > a > .en {
    font-family: "Lora", serif;
    color: #766156; }
  .drawer-gnavi > li > a.hover {
    color: #e6e6e6;
    background-color: #222; }
    .drawer-gnavi > li > a.hover > .ja {
      color: #e6e6e6; }
    .drawer-gnavi > li > a.hover > .en {
      color: #e6e6e6; }

.drawer-subnavi > li {
  border-bottom: 1px solid #886957; }
  .drawer-subnavi > li > a {
    color: #f1eae6;
    background-color: #695143; }
    .drawer-subnavi > li > a:hover {
      background-color: #695143; }

.gnavi-block {
  margin-bottom: 0; }

.gnavi > li a {
  padding: 16px 0 16px;
  color: #766156; }

.gnavi > li:last-child > a:after {
  border-right: 1px solid #b29f83; }

.gnavi > li.current-menu-item:before, .gnavi > li:hover:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 0;
  border-bottom: 2px solid #766156; }

.gnavi > li > a {
  color: #644f44; }
  .gnavi > li > a > .ja {
    color: #644f44; }
  .gnavi > li > a > .en {
    font-family: "Lora", serif;
    color: #766156; }
  .gnavi > li > a:hover {
    background-color: transparent; }
  .gnavi > li > a:after {
    border-left: 1px solid #b29f83; }

.pogoSlider-dir-btn {
  border-color: #dfd4cb; }
  .pogoSlider-dir-btn:hover {
    border-color: #dbcfc5; }

.pogoSlider-slide-element {
  color: #fdfdfd;
  background: rgba(223, 212, 203, 0.7);
  box-shadow: 3px 3px 5px 0 rgba(34, 34, 34, 0.3); }

/*--- Pages ---*/
.front-info {
  background-color: #fcf7f2;
  background-repeat: repeat;
  background-position: center;
  background-image: url("../images/_antique/common/bg_01.png"); }

.concept:after {
  content: url("../images/_antique/common/img_concept.png");
  display: block;
  padding-top: 60px;
  text-align: center; }

.freespace {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); }
  .freespace figcaption {
    color: #f4f1ec;
    background-color: rgba(107, 83, 69, 0.7); }

.front-blog .thumb {
  color: #644f44;
  background-color: #fcf7f2; }
  .front-blog .thumb .not-thumb:before {
    color: #886c5d; }

.front-blog .datetime {
  color: #644f44; }

@media (max-width: 767px) {
  .front-blog {
    background-color: #fcf7f2;
    box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.2); } }

.front-catalog-wrap .btn-catalog-info {
  color: #fcf7f2;
  background-color: #c3a59a; }

.front-catalog-wrap .overlay {
  background-color: rgba(255, 255, 255, 0.6); }
  .front-catalog-wrap .overlay:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right-color: #6b5345;
    border-bottom-color: #6b5345; }

.front-catalog-wrap .title {
  color: #222; }

.front-catalog-wrap .stylist {
  color: #222; }

.front-catalog-wrap .swiper-slide {
  background: #f0f0f0; }

@media (min-width: 769px) {
  .front-catalog-wrap .swiper-button-prev:before,
  .front-catalog-wrap .swiper-button-next:before {
    border-top: 2px solid #222; }
  .front-catalog-wrap .swiper-button-prev:before {
    border-left: 2px solid #222; }
  .front-catalog-wrap .swiper-button-next:before {
    border-right: 2px solid #222; } }

.instagram > li {
  background-color: #fff;
  box-shadow: 0 2px 3px 1px rgba(34, 34, 34, 0.3); }
  .instagram > li time {
    color: #555; }

.social-heading {
  margin-bottom: 5px;
  font-size: 20px;
  border: none; }

.stylist-category {
  background-color: #f7f4ec;
  background-repeat: repeat;
  background-position: center;
  background-image: url("../images/_antique/common/bg_01.png");
  border: 1px solid #9a7a6a; }
  .stylist-category .title {
    color: #644f44;
    border-bottom: 1px solid #9a7a6a; }

.catalog-search-wrapper {
  background-color: #f7f4ec; }

.catalog_search .cr label {
  background-color: #fff; }

.catalog_search .cr input:checked + label {
  color: #f4f1ec;
  background-color: #766156; }

.catalog-loop .item {
  background-color: #f7f4ec;
  box-shadow: 0 1px 3px 0px rgba(51, 51, 51, 0.2);
  transition: all 100ms ease-in; }
  .catalog-loop .item:hover {
    opacity: .8; }
  .catalog-loop .item .not-thumb {
    background-color: rgba(244, 240, 229, 0.3); }
  .catalog-loop .item .border-catalog {
    border-top: 1px solid #e2cad6; }
  .catalog-loop .item .style-name a {
    color: #675042; }
  .catalog-loop .item .meta .manage span {
    color: #a38976;
    border: 1px solid #ccbdb2; }

.catalog-picture-body .pic-wrap {
  background-color: #fafafa; }

.catalog-picture-list-item.active {
  border-color: #6b5345; }

.catalog-picture .not-picture {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(107, 83, 69, 0.8); }

.catalog-header .title {
  border-bottom: 1px solid #ddd; }

.catalog-header .comment {
  background-color: #fcf7f2;
  background-repeat: repeat;
  background-position: center;
  background-image: url("../images/_antique/common/bg_01.png"); }
  .catalog-header .comment:after {
    border-left: 14px solid #fcf7f2; }

.catalog-header .staff-pic .thumb {
  background-color: rgba(250, 242, 234, 0.3); }

.catalog-table th, .catalog-table td {
  border-bottom: 1px solid #e2dad6; }

.catalog-table th {
  color: #a38976; }

.catalog-tag > li a {
  color: #a38976;
  background-color: transparent;
  border: 1px solid #ccbdb2; }

.catalog-price .price {
  font-family: "Lora", serif;
  color: #695142; }
  .catalog-price .price .numeric {
    color: #695142; }

.catalog-footer .other-title {
  font-family: "Lora", serif;
  color: #644f44;
  border-bottom: 1px solid #ccbdb2; }

.other-catalog .swiper-slide a {
  background-color: rgba(204, 189, 178, 0.3); }

.other-catalog .swiper-slide .not-thumb {
  background-color: rgba(204, 189, 178, 0.3); }

.staff-loop .item article {
  background-color: #fcf7f2; }

.staff-loop .manage {
  color: #6b5345; }

.staff-loop .staff-name a {
  color: #6b5345; }

.staff-header .manage > span {
  color: #a38976;
  border: 1px solid #ccbdb2; }

.staff-table th, .staff-table td {
  border-bottom: 1px solid #e2dad6; }

.staff-table th {
  color: #a98f7f; }

.staff-comment {
  background-color: #fcf7f2;
  background-repeat: repeat;
  background-position: center;
  background-image: url("../images/_antique/common/bg_01.png"); }

@media (min-width: 768px) {
  .staff-header .title {
    border-bottom: 1px solid #ddd; } }

.other-staff {
  background-color: #fcf7f2;
  background-repeat: repeat;
  background-position: center;
  background-image: url("../images/_antique/common/bg_01.png"); }
  .other-staff .title {
    color: #645042; }
    .other-staff .title .en {
      font-family: "Lora", serif; }

.other-staff-list .item {
  color: #645042; }

.other-staff-list .manage {
  background-color: transparent;
  border: 1px solid #ccbdb2; }

.other-staff-list .staff-list-next,
.other-staff-list .staff-list-prev {
  color: #fff;
  background: #6b5345; }

.menu-title {
  border-bottom: 1px solid #e2dad6; }
  .menu-title .en {
    color: #7a6656; }
  .menu-title .jp {
    color: #695143; }

.menu-container .menu-flex {
  border-bottom: 1px solid #f1ebe8; }

.menu-container .menu-etc-text {
  color: #928279; }

.menu-container .menu-time {
  color: #928279; }

.menu-container .menu-time-num {
  border: 1px solid #ccbdb2; }

.menu-container .menu-price {
  color: #6a5344; }

.menu-container .menu-other-text {
  color: #928279;
  background-color: #fcf7f2;
  background-repeat: repeat;
  background-position: center;
  background-image: url("../images/_antique/common/bg_01.png"); }

.salon-name {
  border-bottom: 1px solid #e2dad6; }
  .salon-name .en {
    color: #695143; }
  .salon-name .jp {
    color: #644f44; }

.salon-info-table th {
  color: #a0928a; }

.salon-info-table th, .salon-info-table td {
  border-bottom: 1px solid #e2dad6; }

.salon-photo-map .item {
  background-color: #fcf7f2; }

.salon-photo-map .image-map {
  border: 1px solid #e2dad6; }

.salon-access-flex {
  border-bottom: 1px solid #e2dad6; }

.salon-access-route {
  color: #685042;
  background-color: #e2dad6;
  background-repeat: repeat;
  background-position: center;
  background-image: url("../images/_antique/common/bg_01.png"); }

.topics-archive {
  border-bottom: 1px solid #e2dad6; }

.topics-header .title a {
  color: #685042; }

.topics-content .datetime {
  font-family: 'Lora', serif;
  font-size: 18px; }

@media (max-width: 767px) {
  .topics-content .content:after {
    background: transparent; } }

.post-archive {
  border-bottom: 1px solid #e2dad6; }
  .post-archive .title a {
    color: #685143; }
  .post-archive .not-thumb {
    background: #f4f1ec; }
  .post-archive .cat {
    color: #a38976;
    background-color: transparent;
    border: 1px solid #ccbdb2; }
    .post-archive .cat a {
      color: #a38976; }
  .post-archive .datetime {
    font-family: "Lora", serif;
    color: #785d4d; }
  .post-archive .content {
    color: #685143; }
    .post-archive .content:after {
      background: none; }
  @media (max-width: 767px) {
    .post-archive {
      background-color: #fff;
      box-shadow: 0 1px 2px 1px rgba(69, 69, 69, 0.2); }
      .post-archive .post-link:hover {
        background-color: #fcfcfc; }
      .post-archive .title:after {
        background-color: white;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 51%, white 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='rgba(255, 255, 255, 0)', EndColorStr='white'); } }

.post-single .datetime {
  font-family: "Lora", serif;
  font-size: 16px;
  color: #785d4d; }

.post-single .cat {
  color: #a0928a; }
  .post-single .cat a {
    font-size: 12px;
    color: #a38976;
    background-color: transparent;
    border: 1px solid #ccbdb2; }

@media (min-width: 768px) {
  .post-single .datetime {
    font-size: 20px; } }

.social-count .fa-facebook, .social-count .fa-twitter {
  color: #a0928a; }

.social-count .count {
  color: #a0928a; }

.single-pager {
  border-top: 1px solid #ccc; }
  .single-pager a {
    color: #fff;
    background-color: #ccc0b6;
    background-repeat: repeat;
    background-position: center;
    background-image: url("../images/_antique/common/bg_02.png");
    border: 1px solid #ccc0b6; }

.channel-category {
  background-color: #fcf7f2;
  background-repeat: repeat;
  background-position: center;
  background-image: url("../images/_antique/common/bg_01.png"); }
  .channel-category .cat-link-title {
    color: #888; }
  .channel-category .cat-link > li a {
    padding: 6px 14px;
    color: #fff;
    background-color: #ccc0b6;
    background-repeat: repeat;
    background-position: center;
    background-image: url("../images/_antique/common/bg_02.png");
    border: 1px solid #dedede;
    transition: all 100ms ease-in; }
    .channel-category .cat-link > li a:hover {
      text-decoration: none;
      color: #fff;
      background-color: #6b5345;
      border-color: #6b5345; }
  .channel-category .cat-link > li.current a {
    color: #fff;
    background-color: #6b5345;
    background-image: url("../images/_antique/common/bg_brown.png");
    border-color: #6b5345; }
  .channel-category .cat-link > li.channel-all a {
    padding-left: 20px;
    padding-right: 20px; }

.channel-loop .title {
  color: #695143;
  border-bottom: 1px solid #e2dad6; }

/*--- WordPress ---*/
/* Archive Pager */
.pagination a {
  color: #fff;
  background-color: #ccc0b6;
  border: 1px solid #ccc0b6;
  border-radius: 100%; }
  .pagination a:hover {
    color: #fff;
    background-color: #675042;
    border-color: #675042;
    opacity: .8; }

.pagination .inactive, .pagination .current {
  vertical-align: middle; }

.pagination .inactive {
  width: 38px;
  height: 38px;
  line-height: 38px;
  font-size: 15px; }

.pagination .current,
.pagination .active {
  width: 38px;
  height: 38px;
  font-size: 15px;
  line-height: 38px;
  color: #fff;
  background-color: #675042;
  border-color: #675042;
  border-radius: 100%; }

.pagination .prev, .pagination .next {
  width: auto;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  background-color: #675042;
  border: 1px solid #675042;
  border-radius: 4px; }
  .pagination .prev.not, .pagination .next.not {
    color: #d6cdc5;
    text-shadow: 0 -1px 0 #c2b3a7;
    background-color: #d6cdc5;
    border: 1px solid #c2b3a7; }
  @media (min-width: 768px) {
    .pagination .prev, .pagination .next {
      padding-left: 24px;
      padding-right: 24px; } }

/* Single Pager */
.single-pager ul {
  list-style: none; }
  .single-pager ul > li {
    background-color: #ccc; }
    .single-pager ul > li a {
      color: #555; }

.page-pager > span {
  color: #f4f1ec;
  background-color: #766156; }

.page-pager > a {
  background-color: #ccc; }
  .page-pager > a:hover {
    color: #f4f1ec;
    background-color: #766156; }

.link-pages-wrapper > span {
  color: #f4f1ec;
  background-color: #766156; }

.link-pages-wrapper > a {
  color: #454545;
  background-color: #f0f0f0;
  border: 1px solid #ddd; }
  .link-pages-wrapper > a:hover {
    color: #f4f1ec;
    background-color: #766156;
    border-color: #766156; }

.sidebar .widget .thumb .not-thumb {
  background-color: #f0e6dc; }
  .sidebar .widget .thumb .not-thumb:before {
    color: #e1cdb8; }

.sidebar .widgettitle {
  border-bottom: 1px solid #ddd; }

.sidebar .widget_newpost time,
.sidebar .widget_popular time {
  font-family: "Lora", serif;
  color: #685143; }

.sidebar .widget_newpost .title,
.sidebar .widget_popular .title {
  color: #926a4a; }

.sidebar .widget_search input[type="text"] {
  background-color: #e2dad6; }
  .sidebar .widget_search input[type="text"]:focus {
    color: #685143; }

.sidebar .widget_search button[type="submit"],
.sidebar .widget_search input[type="submit"] {
  color: #fff;
  background-color: #685143; }

.sidebar .widget_archive li .tgl i {
  color: #a0928a; }

.sidebar .tagcloud > a {
  color: #a38976;
  background-color: transparent;
  border: 1px solid #ccbdb2; }
/*# sourceMappingURL=maps/antique.css.map */
