@charset "UTF-8";
.editor-post-title__block .editor-post-title__input {
  font-family: "游ゴシック", YuGothic, "游ゴシック体", "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Robot, "Droid Sans", sans-serif; }

.editor-style-wrapper > *,
.editor-styles-wrapper > * {
  font-family: "游ゴシック", YuGothic, "游ゴシック体", "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Robot, "Droid Sans", sans-serif; }

.editor-style-wrapper .wp-block:not([data-align="full"]):not([data-align="wide"]),
.editor-styles-wrapper .wp-block:not([data-align="full"]):not([data-align="wide"]) {
  max-width: 720px; }

.entry-row.has-blocks.full .post-sidebar {
  max-width: 72rem;
  margin: 6rem auto;
  padding: 0 1.6rem;
  column-count: 1;
  column-gap: 2rem; }
  @media (min-width: 768px) {
    .entry-row.has-blocks.full .post-sidebar {
      column-count: 2; } }
  .entry-row.has-blocks.full .post-sidebar .widget {
    page-break-inside: avoid;
    break-inside: avoid; }

.entry-row:not(.has-blocks) .post-sidebar {
  margin-top: 6em;
  column-count: 1;
  column-gap: 2rem; }
  @media (min-width: 768px) {
    .entry-row:not(.has-blocks) .post-sidebar {
      column-count: 2; } }
  @media (min-width: 1200px) {
    .entry-row:not(.has-blocks) .post-sidebar {
      margin-top: 0;
      column-count: 1; } }
  .entry-row:not(.has-blocks) .post-sidebar .widget {
    page-break-inside: avoid;
    break-inside: avoid; }

.entry-header,
.entry-footer {
  max-width: 72rem; }

.entry-header {
  margin: 0 auto 4rem; }
  .entry-header .title {
    margin: 0 0 1rem;
    font-size: 2.4rem; }
    @media (min-width: 768px) {
      .entry-header .title {
        font-size: 3rem; } }
  @media (min-width: 768px) {
    .entry-header__row {
      display: flex;
      justify-content: space-between; } }

.entry-footer {
  margin: 4rem auto 0; }

.entry-row.has-blocks .entry-content > * {
  margin-left: auto;
  margin-right: auto; }

.entry-content {
  line-height: 1.8; }
  .entry-content > * {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25em; }
    .entry-content > *:first-child {
      margin-top: 0; }
    .entry-content > *:last-child {
      margin-bottom: 0; }
  .entry-content #toc_container {
    min-width: 200px;
    margin-left: 0; }
  .entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
    margin-top: 4rem;
    font-weight: bold; }
    .entry-content h1:first-child, .entry-content h2:first-child, .entry-content h3:first-child, .entry-content h4:first-child, .entry-content h5:first-child, .entry-content h6:first-child {
      margin-top: 0; }
  .entry-content h1 {
    font-size: 3rem; }
  .entry-content h2 {
    font-size: 2.6rem; }
  .entry-content h3 {
    font-size: 2.2rem; }
  .entry-content h4, .entry-content h5, .entry-content h6 {
    font-size: 2rem; }
  .entry-content > ol:not(.wp-block-gallery),
  .entry-content > ul:not(.wp-block-gallery) {
    padding-left: 2rem; }
    .entry-content > ol:not(.wp-block-gallery) > li,
    .entry-content > ul:not(.wp-block-gallery) > li {
      margin-bottom: 1rem; }
    .entry-content > ol:not(.wp-block-gallery) ol,
    .entry-content > ol:not(.wp-block-gallery) ul,
    .entry-content > ul:not(.wp-block-gallery) ol,
    .entry-content > ul:not(.wp-block-gallery) ul {
      margin-top: 1rem;
      padding-left: 2rem; }
  .entry-content img {
    max-width: 100%;
    height: auto; }

.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide):not(.wp-block-separator) {
  max-width: 72rem;
  width: calc(100% - 4rem); }
  @media (max-width: 72rem) {
    .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide):not(.wp-block-separator) {
      max-width: 100%; } }

[class*="__inner-container"] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
  max-width: 72rem;
  width: 100%; }
  @media (max-width: 72rem) {
    [class*="__inner-container"] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
      max-width: 100%; } }

/* alignment */
.alignnone,
.aligncenter,
.alignleft,
.alignright,
.alignwide {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem; }

[class*="__inner-container"] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright) {
  margin-left: auto;
  margin-right: auto; }

/* Full */
.alignfull {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem; }

[class*="__inner-container"] > .alignfull {
  max-width: 100%; }

/* Wide */
.alignwide {
  position: relative;
  max-width: 120rem;
  width: calc(100% - 4rem); }

[class*="__inner-container"] > .alignwide {
  width: 100%; }

/* Center */
.aligncenter,
.aligncenter img {
  margin-left: auto;
  margin-right: auto; }

/* Left and right */
.alignleft,
.alignright {
  max-width: 50%; }

.alignleft {
  /*rtl:ignore*/
  float: left;
  margin: 0.3em 2rem 2rem 0; }
  .alignleft.size-full {
    max-width: 300px; }

.alignright {
  float: right;
  margin: 0.3em 0 2rem 2rem; }
  .alignright.size-full {
    max-width: 300px; }

[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > .alignleft,
[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > p .alignleft,
[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > .wp-block-image .alignleft {
  margin-left: 2rem; }

[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > .alignright,
[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > p .alignright,
[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > .wp-block-image .alignright {
  margin-right: 2rem; }

/* Entry Media */
.alignfull > figcaption,
.alignfull > .wp-caption-text {
  max-width: 72rem;
  width: calc(100% - 4rem);
  margin-left: auto;
  margin-right: auto; }

.wp-caption-text {
  margin-top: -1rem;
  font-size: 80%;
  color: #666; }

/* Separator */
.wp-block-separator {
  margin-top: 4rem;
  margin-bottom: 4rem; }

/* Preformatted */
.wp-block-preformatted {
  padding: 1.4rem;
  font-family: "Source Code Pro", "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace;
  background-color: #f0f0f0; }

/* Verse */
/* Table */
/* Latest Posts */
.wp-block-latest-posts {
  padding: 0; }

.wp-block-latest-posts__list {
  list-style: none; }

/* Blockquote */
.wp-block-quote {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1.4rem;
  padding-left: 2rem; }
  .wp-block-quote.is-large {
    max-width: 100% !important;
    margin: 0 auto 2rem;
    padding: 1.4rem 2rem; }
    .wp-block-quote.is-large p {
      font-size: 2rem; }
    .wp-block-quote.is-large cite {
      font-size: 0.9em; }

/* Audio */
/* Button */
/* Categories */
/* Archives */
/* Columns */
/* Pull Quotes */
/* Image */
.wp-block-image.alignfull, .wp-block-image.alignwide {
  margin-top: 2rem; }

/* Embed */
.wp-block-embed.alignfull, .wp-block-embed.alignwide {
  margin-top: 2rem; }

/* Cover */
/* Gallery */
/* Media & Text */
/*# sourceMappingURL=maps/block-editor.css.map */
