@charset "UTF-8";
/*
#overview
カラー

各配色の一覧です。
*/
/*--- 初期 ---*/
/*--- ベース ---*/
/*--- リンク ---*/
/*--- アイコン ---*/
/*--- ボタン ---*/
/*--- ナビゲーション ---*/
/*--- ソーシャルアイコン ---*/
/*--- カルーセルの矢印 ---*/
/*--- ヘッダー ---*/
/*--- SP用のコンタクトエリア ---*/
/*--- フッターソーシャルボタン ---*/
/*--- フッターコンタクト ---*/
/*--- カタログ ---*/
/*--- コピーライト ---*/
/*--- Font ---*/
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

audio:not([controls]) {
  display: none; }

details {
  display: block; }

input[type="number"] {
  width: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

main {
  display: block; }

summary {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 75%; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0; }

:root {
  box-sizing: border-box;
  cursor: default;
  font: 16px/1.5 sans-serif;
  text-rendering: optimizeLegibility; }

html {
  background-color: #FFFFFF; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button,
input,
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::selection {
  background-color: #B3D4FC;
  text-shadow: none; }

@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }

.clearfix:before, .clearfix:after {
  content: "";
  display: block; }

.clearfix:after {
  clear: both; }

/*--- Base ---*/
body {
  color: #454545; }

a {
  color: #454545;
  -webkit-tap-highlight-color: rgba(170, 102, 102, 0.2); }

.en {
  font-family: "Josefin Slab", serif; }

.c-title .en {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 40px; }
  .c-title .en:before, .c-title .en:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 8px solid transparent; }
  .c-title .en:before {
    top: 0;
    left: 0;
    border-top-color: #222;
    border-left-color: #222; }
  .c-title .en:after {
    right: 0;
    bottom: 0;
    border-right-color: #222;
    border-bottom-color: #222; }

.c-title-sm .en {
  font-size: 28px; }

.c-title-page .en {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 40px; }
  .c-title-page .en:before, .c-title-page .en:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 8px solid transparent; }
  .c-title-page .en:before {
    top: 0;
    left: 0;
    border-top-color: #222;
    border-left-color: #222; }
  .c-title-page .en:after {
    right: 0;
    bottom: -14px;
    border-right-color: #222;
    border-bottom-color: #222; }

.c-title-page .jp {
  font-size: 14px;
  color: #888; }

@media (min-width: 768px) {
  .c-title-page .en {
    padding-left: 40px;
    padding-right: 40px; } }

.btn {
  transition: all 100ms ease-in; }
  .btn:hover {
    opacity: .8; }

.btn-default {
  color: #fff;
  background-color: #222;
  border-color: #222; }

.btn-primary {
  color: #222;
  background-color: #f6f6f6;
  border-color: #ddd; }

.btn-secondary {
  color: #888;
  background-color: #f5f5f5;
  border-color: #ddd; }

.btn-shark {
  color: #eff5f8;
  background-color: #666;
  border-color: #666; }

.btn-ace {
  color: #888;
  background-color: #fff;
  border-color: #ddd; }

.btn-radius {
  border-radius: 100%; }

.btn-xl {
  font-size: 112%;
  padding: 16px 22px; }

.btn-ll {
  padding: 12px 20px; }

.btn-lm {
  padding: 10px 18px; }

.btn-ls {
  padding: 8px 16px; }

.btn-mid {
  font-size: 100%;
  padding: 6px 12px; }

.btn-sl {
  font-size: 96%;
  padding: 6px 8px; }

.btn-sm {
  font-size: 88%;
  padding: 5px 8px; }

.btn-ss {
  font-size: 80%;
  padding: 4px 6px; }

.btn .fa {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 108%; }

.btn-catalog-info {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  width: 42px;
  height: 42px;
  color: #fff;
  background-color: #ff3388;
  outline: none;
  border-radius: 100%;
  box-shadow: 0 1px 2px 0 rgba(34, 34, 34, 0.3);
  transition: all 160ms ease-in; }
  .btn-catalog-info:focus {
    outline: none; }
  .btn-catalog-info:hover {
    background-color: rgba(255, 51, 136, 0.8); }

.breadcrumb {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6; }

.bread-list > li:before {
  content: "\f105";
  position: absolute;
  left: 20px;
  line-height: 1;
  font-family: "FontAwesome";
  font-size: 18px; }

.bread-list > li:first-child:before {
  display: none; }

.site-title {
  font-size: 10px;
  color: #555; }

.site-logo a:hover {
  opacity: .8; }

@media (max-width: 480px) {
  .site-title {
    background-color: #f0f0f0; } }

@media (min-width: 768px) {
  .site-title {
    font-size: 11px; } }

.subnavi a {
  font-size: 14px;
  color: #555;
  background-color: #f6f6f6;
  border: 1px solid #ddd; }

.subnavi i {
  font-size: 126%;
  color: #aaa; }

@media (max-width: 768px) {
  .header-contact > li {
    font-family: Verdana, sans-serif; } }

.contact-sp .contact {
  background-color: #222; }
  .contact-sp .contact > li:nth-child(2) {
    border-left: 1px solid #f0f0f0; }
  .contact-sp .contact > li > a {
    color: #f0f0f0; }

.footer-navi-wrap .foot-navi > li a:hover {
  border-bottom: 1px dotted #222; }

.footer-social-button-wrap {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6; }
  .footer-social-button-wrap .pagetop.btn-shark {
    background: rgba(34, 34, 34, 0.6);
    border: 1px solid transparent; }
    .footer-social-button-wrap .pagetop.btn-shark:hover {
      opacity: .8; }
  .footer-social-button-wrap .pagetop .fa {
    color: #fff; }

.footer-contact-wrap {
  background-color: #eee;
  border-bottom: 1px solid #e6e6e6; }

.copyright {
  color: #888; }

@media (max-width: 768px) {
  #drawerOverlay {
    background-color: rgba(34, 34, 34, 0.7); } }

#drawer {
  background-color: #fff; }

.drawer-btn-close {
  background-color: #222;
  border-left-color: #000; }
  .drawer-btn-close:hover {
    background-color: #922; }

.drawer-navi {
  background-color: #eaeaea; }
  .drawer-navi:before {
    background-color: #fff; }
  .drawer-navi .logo-area {
    color: #fff;
    background-color: #222;
    background: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#3c3c3c', EndColorStr='#222');
    border-bottom: 1px solid #999; }

.drawer-inner {
  background-color: #eaeaea; }

.drawer-gnavi > li.current-menu-item {
  background-color: #e0e0e0; }
  .drawer-gnavi > li.current-menu-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #222;
    border-left-color: #222; }

.drawer-gnavi > li > a {
  color: #5a5c66;
  border-bottom: 1px solid #ccc; }
  .drawer-gnavi > li > a > .ja {
    color: #5a5c66; }
  .drawer-gnavi > li > a > .en {
    font-family: "Josefin Slab", serif;
    color: #222; }
  .drawer-gnavi > li > a.hover {
    color: #e6e6e6;
    background-color: #222; }
    .drawer-gnavi > li > a.hover > .ja {
      color: #e6e6e6; }
    .drawer-gnavi > li > a.hover > .en {
      color: #e6e6e6; }

.drawer-subnavi > li {
  border-bottom: 1px solid #ccc; }
  .drawer-subnavi > li > a {
    color: #fff;
    background-color: #444; }
    .drawer-subnavi > li > a:hover {
      background-color: #222; }

.gnavi > li a {
  color: #222; }

.gnavi > li:last-child > a:after {
  border-right: 1px solid #ddd; }

.gnavi > li.current-menu-item:before, .gnavi > li:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: #222;
  border-left-color: #222; }

.gnavi > li > a {
  color: #5a5c66; }
  .gnavi > li > a > .ja {
    color: #5a5c66; }
  .gnavi > li > a > .en {
    font-family: "Josefin Slab", serif;
    color: #222; }
  .gnavi > li > a:hover {
    background-color: transparent; }
  .gnavi > li > a:after {
    border-left: 1px solid #ddd; }

.pogoSlider-dir-btn {
  border-color: #222; }
  .pogoSlider-dir-btn:hover {
    border-color: #444; }

.pogoSlider-slide-element {
  color: #fdfdfd;
  background: rgba(34, 34, 34, 0.7);
  box-shadow: 3px 3px 5px 0 rgba(34, 34, 34, 0.3); }

/*--- Pages ---*/
.front-info {
  background-color: rgba(238, 238, 238, 0.5); }

.freespace figcaption {
  color: #fff;
  background-color: rgba(34, 34, 34, 0.6); }

.front-blog__article .thumb {
  background-color: #f6f6f6; }

.front-blog__article .datetime {
  color: #888; }

.front-blog__article-link:before, .front-blog__article-link:after {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  width: 0;
  height: 0;
  border-width: 1px;
  border-style: solid;
  transition: 350ms ease; }

.front-blog__article-link:before {
  top: 0;
  left: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-top-color: transparent;
  border-left-color: transparent; }

.front-blog__article-link:after {
  right: 0;
  bottom: 0;
  border-left-width: 0;
  border-top-width: 0;
  border-right-color: transparent;
  border-bottom-color: transparent; }

.front-blog__article-link:hover:before, .front-blog__article-link:hover:after {
  width: 30%;
  height: 30%; }

.front-blog__article-link:hover:before {
  border-top-color: #222;
  border-left-color: #222;
  transform: translate(-3px, -3px); }

.front-blog__article-link:hover:after {
  border-right-color: #222;
  border-bottom-color: #222;
  transform: translate(3px, 3px); }

.front-catalog-wrap .overlay {
  background-color: rgba(255, 255, 255, 0.6); }
  .front-catalog-wrap .overlay:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right-color: #222;
    border-bottom-color: #222; }

.front-catalog-wrap .title {
  color: #222; }

.front-catalog-wrap .stylist {
  color: #222; }

.front-catalog-wrap .swiper-slide {
  background: #f0f0f0; }

@media (min-width: 769px) {
  .front-catalog-wrap .swiper-button-prev:before,
  .front-catalog-wrap .swiper-button-next:before {
    border-top: 2px solid #222; }
  .front-catalog-wrap .swiper-button-prev:before {
    border-left: 2px solid #222; }
  .front-catalog-wrap .swiper-button-next:before {
    border-right: 2px solid #222; } }

.instagram > li {
  box-shadow: 0 2px 3px 1px rgba(34, 34, 34, 0.3); }
  .instagram > li time {
    color: #555; }

.social-heading {
  border-bottom: 1px solid #ddd; }

.stylist-category {
  background-color: #f0f0f0;
  border: 1px solid #ddd; }
  .stylist-category .title {
    color: #888;
    border-bottom: 1px solid #ddd; }

.catalog-search-wrapper {
  background-color: #fff; }

.catalog_search .cr label {
  background-color: #fff; }

.catalog_search .cr input:checked + label {
  color: #fff;
  background-color: #222; }

.catalog-loop .item {
  background-color: #fff;
  box-shadow: 0 1px 3px 0px rgba(51, 51, 51, 0.2);
  transition: all 100ms ease-in; }
  .catalog-loop .item:hover {
    opacity: .8; }
  .catalog-loop .item .not-thumb {
    background-color: rgba(204, 204, 204, 0.3); }
  .catalog-loop .item .border-catalog {
    border-top: 1px solid #888; }
  .catalog-loop .item .meta .manage span {
    border: 1px solid #ccc; }

.catalog-picture-body .pic-wrap {
  background-color: #fafafa; }

.catalog-picture-list-item.active {
  border-color: #222; }

.catalog-picture .not-picture {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(34, 34, 34, 0.8); }

.catalog-header .title {
  border-bottom: 1px solid #ddd; }

.catalog-header .comment {
  background: #f5f5f5; }
  .catalog-header .comment:after {
    border-left: 14px solid #f5f5f5; }

.catalog-header .staff-pic .thumb {
  background-color: rgba(204, 204, 204, 0.3); }

.catalog-table th, .catalog-table td {
  border-bottom: 1px solid #ddd; }

.catalog-table th {
  color: #888; }

.catalog-tag > li a {
  background-color: #fcfcfc;
  border: 1px solid #ddd; }

.catalog-price .price {
  font-family: "Josefin Slab", serif;
  color: #888; }
  .catalog-price .price .numeric {
    color: #454545; }

.catalog-footer .other-title {
  font-family: "Josefin Slab", serif;
  color: #666;
  border-bottom: 1px solid #ddd; }

.other-catalog .swiper-slide a {
  background-color: rgba(204, 204, 204, 0.3); }

.other-catalog .swiper-slide .not-thumb {
  background-color: rgba(204, 204, 204, 0.3); }

.staff-loop .manage {
  color: #888; }

@media (max-width: 767px) {
  .staff-loop .staff-name {
    background-color: rgba(255, 255, 255, 0.6); } }

@media (min-width: 768px) {
  .staff-loop .staff-name {
    background: rgba(255, 255, 255, 0.6); } }

.staff-header .manage > span {
  border: 1px solid #ddd; }

.staff-table th, .staff-table td {
  border-bottom: 1px solid #ddd; }

.staff-table th {
  color: #888; }

.staff-comment {
  background-color: #f5f5f5; }

@media (min-width: 768px) {
  .staff-header .title {
    border-bottom: 1px solid #ddd; } }

.other-staff {
  background-color: #eee; }
  .other-staff .title {
    color: #666; }
    .other-staff .title .en {
      font-family: "Josefin Slab", serif; }

.other-staff-list .item {
  color: #888; }

.other-staff-list .manage {
  background-color: #fcfcfc;
  border: 1px solid #ddd; }

.other-staff-list .staff-list-next,
.other-staff-list .staff-list-prev {
  color: #fff;
  background: #222; }

.menu-title {
  border-bottom: 1px solid #ddd; }
  .menu-title .en {
    color: #454545; }
  .menu-title .jp {
    color: #888; }

.menu-container .menu-flex {
  border-bottom: 1px solid #ddd; }

.menu-container .menu-etc-text {
  color: #888; }

.menu-container .menu-time {
  color: #888; }

.menu-container .menu-time-num {
  border: 1px solid #ddd; }

.menu-container .menu-price {
  color: #888; }

.menu-container .menu-other-text {
  color: #888;
  background-color: #f5f5f5; }

.salon-name {
  border-bottom: 1px solid #ddd; }
  .salon-name .en {
    color: #454545; }
  .salon-name .jp {
    color: #888; }

.salon-info-table th {
  color: #888; }

.salon-info-table th, .salon-info-table td {
  border-bottom: 1px solid #ddd; }

.salon-photo-map .item {
  background-color: #fafeff; }

.salon-photo-map .image-map {
  border: 1px solid #ddd; }

.salon-access-flex {
  border-bottom: 1px solid #ddd; }

.salon-access-route {
  color: #454545;
  background-color: #f5f5f5; }

.topics-archive {
  border-bottom: 1px solid #ddd; }

@media (max-width: 767px) {
  .topics-content .content:after {
    background-color: white;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='rgba(255, 255, 255, 0)', EndColorStr='white'); } }

.post-archive {
  border-color: #ccc; }
  .post-archive .not-thumb {
    background: #f5f5f5; }
  .post-archive .cat {
    color: #888;
    background-color: #fcfcfc;
    border: 1px solid #ddd; }
  .post-archive .datetime {
    font-family: "Josefin Slab", serif;
    color: #888; }
  .post-archive .content {
    color: #222; }
  @media (max-width: 767px) {
    .post-archive {
      background-color: #fff; }
      .post-archive .post-link:hover {
        background-color: #fcfcfc; } }

.post-single .datetime {
  font-family: "Josefin Slab", serif;
  font-size: 16px;
  color: #666; }

.post-single .cat a {
  font-size: 12px;
  background-color: #f5f5f5;
  border: 1px solid #ddd; }

@media (min-width: 768px) {
  .post-single .datetime {
    font-size: 20px; } }

.social-count .fa-facebook, .social-count .fa-twitter {
  color: #aaa; }

.social-count .count {
  color: #666; }

.single-pager {
  border-top: 1px solid #ddd; }
  .single-pager a {
    background-color: #fff;
    border: 1px solid #ddd; }

.channel-category {
  background-color: #f5f5f5; }
  .channel-category .cat-link-title {
    color: #888; }
  .channel-category .cat-link > li a {
    padding: 6px 14px;
    color: #888;
    background-color: #fcfcfc;
    border: 1px solid #dedede;
    transition: all 100ms ease-in; }
    .channel-category .cat-link > li a:hover {
      text-decoration: none;
      color: #fff;
      background-color: #222;
      border-color: #222; }
  .channel-category .cat-link > li.current a {
    color: #fff;
    background-color: #222;
    border-color: #222; }
  .channel-category .cat-link > li.channel-all a {
    padding-left: 20px;
    padding-right: 20px; }

.channel-loop .title {
  border-bottom: 1px solid #888; }

/*--- WordPress ---*/
/* Archive Pager */
.pagination a {
  color: #888;
  background-color: #f5f5f5;
  border: 1px solid #ddd; }
  .pagination a:hover {
    color: #fff;
    background-color: #222;
    border-color: #222; }

.pagination .current {
  color: #fff;
  background-color: #222;
  border-color: #222; }

.pagination .prev.not, .pagination .next.not {
  color: #ccc;
  text-shadow: 0 -1px 0 #bbb;
  background-color: #f0f0f0;
  border: 1px solid #ddd; }

/* Single Pager */
.single-pager ul {
  list-style: none; }
  .single-pager ul > li {
    background-color: #ccc; }
    .single-pager ul > li a {
      color: #555; }

.page-pager > span {
  color: #fff;
  background-color: #222; }

.page-pager > a {
  background-color: #ccc; }
  .page-pager > a:hover {
    color: #fff;
    background-color: #222; }

.link-pages-wrapper > span {
  color: #fff;
  background-color: #222; }

.link-pages-wrapper > a {
  color: #454545;
  background-color: #f0f0f0;
  border: 1px solid #ddd; }
  .link-pages-wrapper > a:hover {
    color: #fff;
    background-color: #222;
    border-color: #222; }

.sidebar .widget .thumb .not-thumb {
  background-color: #f4f4f4; }

.sidebar .widgettitle {
  border-bottom: 1px solid #ddd; }

.sidebar .widget_newpost time,
.sidebar .widget_popular time {
  font-family: "Josefin Slab", serif;
  color: #aaa; }

.sidebar .widget_search input[type="text"] {
  background-color: #ddd; }
  .sidebar .widget_search input[type="text"]:focus {
    color: #555; }

.sidebar .widget_search button[type="submit"],
.sidebar .widget_search input[type="submit"] {
  color: #fff;
  background-color: #555; }

.sidebar .widget_archive li .tgl i {
  color: #aaa; }

.sidebar .tagcloud > a {
  background-color: #f2f2f2;
  border: 1px solid #ddd; }
/*# sourceMappingURL=maps/mode.css.map */
