.clearfix:before, .clearfix:after {
  content: "";
  display: block; }

.clearfix:after {
  clear: both; }

/*--- Base ---*/
body {
  color: #656565;
  background-color: #ffefeb; }

a {
  color: #1a1a1a;
  -webkit-tap-highlight-color: rgba(170, 102, 102, 0.2); }

.en {
  font-family: "Playball", cursive; }

.c-title {
  margin-bottom: 32px;
  padding: 0;
  height: 85px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center -3px;
  background-image: url("../images/_sweet/common/tlt_01.png");
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 -1px 0 0 rgba(221, 123, 113, 0.2); }
  @media (max-width: 767px) {
    .c-title {
      margin-left: -15px;
      margin-right: -15px; } }
  .c-title .en {
    margin: 0;
    margin-top: 25px;
    font-weight: 700;
    font-size: 36px;
    color: #1c1c1c; }
    .c-title .en:before, .c-title .en:after {
      content: "";
      display: none; }

.c-title-sm .en {
  font-size: 28px; }

.c-title-page {
  margin-top: 0;
  margin-bottom: 32px; }
  .c-title-page .en {
    position: relative;
    font-size: 50px;
    color: #1c1c1c; }
    .c-title-page .en:before, .c-title-page .en:after {
      content: "";
      display: none; }
  .c-title-page .jp {
    font-size: 14px;
    color: #dd7b71; }
  @media (min-width: 768px) {
    .c-title-page .en {
      padding-left: 40px;
      padding-right: 40px;
      font-size: 70px; }
      .c-title-page .en:before, .c-title-page .en:after {
        width: 68px;
        height: 30px; } }

.btn {
  transition: all 100ms ease-in; }
  .btn:hover {
    opacity: .8; }

.btn-default {
  color: #fff;
  background-color: #dd7b71;
  background-repeat: repeat;
  background-position: center;
  border-color: transparent; }

.btn-primary {
  color: #222;
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  box-shadow: 0 0 1px 1px rgba(221, 123, 113, 0.5); }

.btn-secondary {
  color: #888;
  background-color: #f5f5f5;
  border-color: #ddd; }

.btn-shark {
  color: #eff5f8;
  background-color: #666;
  border-color: #666; }

.btn-ace {
  color: #888;
  background-color: #fff;
  border-color: #ddd; }

.btn-radius {
  border-radius: 100%; }

.btn-xl {
  font-size: 112%;
  padding: 16px 22px; }

.btn-ll {
  padding: 12px 20px; }

.btn-lm {
  padding: 10px 18px; }

.btn-ls {
  padding: 8px 16px; }

.btn-mid {
  font-size: 100%;
  padding: 6px 12px; }

.btn-sl {
  font-size: 96%;
  padding: 6px 8px; }

.btn-sm {
  font-size: 88%;
  padding: 5px 8px; }

.btn-ss {
  font-size: 80%;
  padding: 4px 6px; }

.btn .fa {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 108%; }

.btn-catalog-info {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  width: 42px;
  height: 42px;
  color: #fff;
  background-color: #ff3388;
  outline: none;
  border-radius: 100%;
  box-shadow: 0 1px 2px 0 rgba(34, 34, 34, 0.3);
  transition: all 160ms ease-in; }
  .btn-catalog-info:focus {
    outline: none; }
  .btn-catalog-info:hover {
    background-color: rgba(255, 51, 136, 0.8); }

.breadcrumb {
  background-color: #fae5e1;
  border: none; }

.bread-list > li a {
  color: #dd7b71; }

.bread-list > li:before {
  font-size: 16px;
  color: #444; }

.header-top {
  overflow: hidden; }

.site-title {
  font-size: 10px;
  color: #656565; }

.site-logo a:hover {
  opacity: .8; }

@media (max-width: 480px) {
  .site-title {
    background-color: #f0f0f0; } }

@media (min-width: 768px) {
  .site-title {
    font-size: 11px; } }

.subnavi a {
  font-size: 14px;
  color: #555;
  background-color: transparent;
  border: none; }
  .subnavi a span {
    display: inline; }
  .subnavi a:hover {
    color: #434343;
    text-decoration: underline; }

.subnavi i {
  font-size: 126%;
  color: #555; }

.header-contact .btn-default {
  position: relative;
  color: #dd7b71;
  background-color: #fff;
  border: 1px solid #ffd0c4; }
  .header-contact .btn-default .fa {
    color: #767676; }
  .header-contact .btn-default > span:before, .header-contact .btn-default > span:after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 10px;
    height: 10px;
    margin-bottom: -1px;
    background-color: #ffefeb;
    border-style: solid;
    border-color: #ffd0c4;
    border-width: 0; }
  .header-contact .btn-default > span:before {
    left: 0;
    margin-left: -1px;
    border-radius: 0 10px 0 0;
    border-right-width: 1px;
    border-top-width: 1px; }
  .header-contact .btn-default > span:after {
    right: 0;
    margin-right: -1px;
    border-radius: 10px 0 0 0;
    border-left-width: 1px;
    border-top-width: 1px; }
  .header-contact .btn-default:before, .header-contact .btn-default:after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 10px;
    height: 10px;
    margin-top: -1px;
    background-color: #ffefeb;
    border-style: solid;
    border-color: #ffd0c4;
    border-width: 0; }
  .header-contact .btn-default:before {
    left: 0;
    margin-left: -1px;
    border-radius: 0 0 10px 0;
    border-right-width: 1px;
    border-bottom-width: 1px; }
  .header-contact .btn-default:after {
    right: 0;
    margin-right: -1px;
    border-radius: 0 0 0 10px;
    border-left-width: 1px;
    border-bottom-width: 1px; }

.contact-sp .contact {
  background-color: #fff; }
  .contact-sp .contact > li:nth-child(2) {
    border-left: 1px solid #f1c4b1; }
  .contact-sp .contact > li > a {
    color: #dd7b71; }

#footer {
  color: #555;
  background-color: #f1c4b9; }
  #footer .footer-link a {
    color: #555; }
  #footer .footer-link .btn-default {
    position: relative;
    color: #dd7b71;
    background-color: #fff; }
    #footer .footer-link .btn-default .fa {
      color: #767676; }
    #footer .footer-link .btn-default > span:before, #footer .footer-link .btn-default > span:after {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      width: 10px;
      height: 10px;
      margin-bottom: -1px;
      background-color: #f1c4b9; }
    #footer .footer-link .btn-default > span:before {
      left: 0;
      margin-left: -1px;
      border-radius: 0 10px 0 0; }
    #footer .footer-link .btn-default > span:after {
      right: 0;
      margin-right: -1px;
      border-radius: 10px 0 0 0; }
    #footer .footer-link .btn-default:before, #footer .footer-link .btn-default:after {
      content: "";
      position: absolute;
      top: 0;
      display: block;
      width: 10px;
      height: 10px;
      margin-top: -1px;
      background-color: #f1c4b9; }
    #footer .footer-link .btn-default:before {
      left: 0;
      margin-left: -1px;
      border-radius: 0 0 10px 0; }
    #footer .footer-link .btn-default:after {
      right: 0;
      margin-right: -1px;
      border-radius: 0 0 0 10px; }

.footer-navi-wrap {
  background-color: #fff; }
  .footer-navi-wrap .foot-navi > li a {
    color: #c06944; }
    .footer-navi-wrap .foot-navi > li a:hover {
      border-bottom: 1px dotted #c06944; }

.footer-social-button-wrap {
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6; }
  .footer-social-button-wrap .ico {
    color: #fff; }
  .footer-social-button-wrap .pagetop.btn-shark {
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid transparent; }
    .footer-social-button-wrap .pagetop.btn-shark:hover {
      opacity: .8; }
  .footer-social-button-wrap .pagetop .fa {
    color: #fff; }

.footer-contact-wrap {
  background-color: transparent;
  border-bottom: 1px solid #e6e6e6; }

.copyright {
  color: #888; }

@media (max-width: 768px) {
  #drawerOverlay {
    background-color: rgba(34, 34, 34, 0.7); } }

#drawer {
  background-color: #ffefeb;
  background-repeat: repeat-x;
  background-position: center top;
  background-image: url("../images/_sweet/common/bg_header_top.png"); }
  @media (max-width: 767px) {
    #drawer {
      background-size: 60px; } }

.drawer-btn {
  color: #f1c4b1;
  text-shadow: 0 -1px 1px rgba(28, 28, 28, 0.8);
  background-color: #1c1c1c;
  border: 1px solid #0b0b0b; }
  .drawer-btn:hover {
    background-color: rgba(28, 28, 28, 0.7); }

.drawer-btn-close {
  background-color: #efbda8;
  border-left-color: #f1c4b1; }
  .drawer-btn-close:hover {
    background-color: #922; }

.drawer-navi {
  background-color: #fcfcfc; }
  .drawer-navi:before {
    background-color: #fcfcfc; }
  .drawer-navi .logo-area {
    font-family: 'Playball', cursive;
    color: #fff;
    background-color: #efbda8;
    background: linear-gradient(to bottom, #f3cbba 0%, #efbda8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#f3cbba', EndColorStr='#efbda8');
    border-bottom: 1px solid #999; }

.drawer-inner {
  background-color: #ffefeb; }

.drawer-gnavi > li.current-menu-item {
  color: #f1c4b1;
  background-color: #222; }
  .drawer-gnavi > li.current-menu-item > a {
    color: #f1c4b1; }
    .drawer-gnavi > li.current-menu-item > a > .ja {
      color: #f1c4b1; }
    .drawer-gnavi > li.current-menu-item > a > .en {
      color: #fff; }
  .drawer-gnavi > li.current-menu-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 100%;
    border-left: 4px solid #f1c4b1; }

.drawer-gnavi > li > a {
  color: #222;
  border-bottom: 1px solid #f1c4b1; }
  .drawer-gnavi > li > a > .ja {
    color: #222; }
  .drawer-gnavi > li > a > .en {
    font-family: "Playball", cursive;
    font-size: 24px;
    color: #222; }
  .drawer-gnavi > li > a.hover {
    color: #f1c4b1;
    background-color: #222; }
    .drawer-gnavi > li > a.hover > .ja {
      color: #f1c4b1; }
    .drawer-gnavi > li > a.hover > .en {
      color: #fff; }

.drawer-subnavi > li {
  border-bottom: 1px solid #efbda8; }
  .drawer-subnavi > li > a {
    color: #fff;
    background-color: #f1c4b1; }
    .drawer-subnavi > li > a:hover {
      background-color: #f1c4b1; }

.gnavi-block {
  margin-bottom: 0;
  background-color: #1c1c1c; }

.gnavi > li {
  background-size: 0 0;
  transition: background-size 500ms ease-in-out; }
  .gnavi > li a {
    padding: 15px 0 15px;
    color: #f1c4b1; }
  .gnavi > li.current-menu-item, .gnavi > li:hover {
    background-image: url("../images/_sweet/common/img_navi_hover.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; }
  .gnavi > li > a {
    color: #f1c4b1; }
    .gnavi > li > a > .ja,
    .gnavi > li > a > .ja.not-en {
      color: #f1c4b1; }
    .gnavi > li > a > .en {
      margin-bottom: 8px;
      line-height: 1;
      font-family: "Playball", cursive;
      font-size: 20px;
      color: #fff; }
    .gnavi > li > a:hover {
      background-color: transparent; }
    .gnavi > li > a:after {
      height: 34%;
      border-left: 1px solid #ccc; }

.pogoSlider-dir-btn {
  border-color: #fff; }
  .pogoSlider-dir-btn:hover {
    border-color: #eee; }

.pogoSlider-slide-element {
  color: #fdfdfd;
  background: rgba(99, 90, 72, 0.7);
  box-shadow: 3px 3px 5px 0 rgba(34, 34, 34, 0.3); }

/*--- Pages ---*/
#mainVisual {
  background-color: #dd7b71; }

.front-info {
  background-color: #fff; }
  .front-info .c-title-sm .en {
    font-size: 32px; }
  .front-info .item a {
    color: #1a1a1a; }

.concept {
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url("../images/_sweet/common/bg_concept.png"); }
  @media (max-width: 767px) {
    .concept {
      background-image: none; } }

.freespace {
  color: #dd7b71;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 -1px 0 0 rgba(255, 198, 184, 0.5); }
  .freespace img {
    margin-bottom: 10px;
    border: 4px solid #fff;
    box-shadow: 0 5px 15px 0 rgba(255, 178, 159, 0.7); }
  .freespace figcaption {
    position: relative;
    color: #dd7b71;
    background-color: transparent; }

.front-blog .thumb {
  color: #dd7b71;
  background-color: #f6dbd8; }
  .front-blog .thumb .not-thumb:before {
    color: #dd7b71; }

.front-blog .datetime {
  color: #454545; }

@media (max-width: 767px) {
  .front-blog {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.2); } }

.front-catalog-wrap .btn-catalog-info {
  color: #fff;
  background-color: #dd7b71; }

.front-catalog-wrap .overlay {
  background-color: rgba(255, 255, 255, 0.6); }
  .front-catalog-wrap .overlay:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right-color: #dd7b71;
    border-bottom-color: #dd7b71; }

.front-catalog-wrap .title {
  color: #222; }

.front-catalog-wrap .stylist {
  color: #222; }

.front-catalog-wrap .swiper-slide {
  background: #f0f0f0; }

@media (min-width: 769px) {
  .front-catalog-wrap .swiper-button-prev:before,
  .front-catalog-wrap .swiper-button-next:before {
    border-top: 2px solid #635a48; }
  .front-catalog-wrap .swiper-button-prev:before {
    border-left: 2px solid #635a48; }
  .front-catalog-wrap .swiper-button-next:before {
    border-right: 2px solid #635a48; } }

#instagramJson .nowloading {
  color: #dd7b71; }

.instagram > li {
  background-color: #fff;
  box-shadow: 0 2px 3px 1px rgba(34, 34, 34, 0.3); }
  .instagram > li time {
    color: #555; }

.social-heading {
  margin-bottom: 5px;
  font-size: 24px;
  color: #e18973;
  border: none; }

.stylist-category {
  background-color: #333;
  background-repeat: repeat;
  background-position: center;
  background-image: url("../images/_sweet/common/bg_free.png");
  border: 1px solid #000; }
  .stylist-category .title {
    color: #fff;
    border-bottom: 1px solid #000; }

.catalog-search-wrapper {
  background-color: #fff; }

.catalog_search .cr label {
  background-color: #fff; }

.catalog_search .cr input:checked + label {
  color: #fff;
  background-color: #dd7b71; }

.catalog-loop .item {
  background-color: #fff;
  box-shadow: 0 1px 3px 0px rgba(51, 51, 51, 0.2);
  transition: all 100ms ease-in; }
  .catalog-loop .item:hover {
    opacity: .8; }
  .catalog-loop .item .not-thumb {
    background-color: rgba(250, 250, 250, 0.3); }
  .catalog-loop .item .border-catalog {
    border-top: 1px solid #ffd2c7; }
  .catalog-loop .item .style-name a {
    color: #454545; }
  .catalog-loop .item .meta .manage span {
    color: #666;
    background-color: #fff;
    border: 1px solid #ffd2c7; }
  .catalog-loop .item .meta .staff {
    color: #555; }

.catalog-picture-body .pic-wrap {
  background-color: #fafafa; }

.catalog-picture-list-item.active {
  border-color: #dd7b71; }

.catalog-picture .not-picture {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(221, 123, 113, 0.8); }

.catalog-header .title {
  border-bottom: 1px solid #ddd; }

.catalog-header .comment {
  background-color: #fff; }
  .catalog-header .comment:after {
    border-left: 14px solid #fff; }

.catalog-header .staff-pic .thumb {
  background-color: rgba(238, 238, 238, 0.3); }

.catalog-table th, .catalog-table td {
  border-bottom: 1px solid #ffd2c7; }

.catalog-table th {
  color: #888; }

.catalog-tag > li a {
  color: #888;
  background-color: #f5f5f5;
  border: 1px solid #ffd2c7; }

.catalog-price .price {
  font-family: "Playball", cursive;
  color: #222; }
  .catalog-price .price .txt {
    font-size: 26px; }
  .catalog-price .price .slash {
    font-size: 17px; }
  .catalog-price .price .yen {
    font-size: 19px; }
  .catalog-price .price .numeric {
    font-size: 35px; }
  .catalog-price .price .kara {
    display: inline-block;
    vertical-align: middle;
    line-height: 1; }

.catalog-footer .other-title {
  letter-spacing: 2px;
  font-family: "Playball", cursive;
  font-size: 36px;
  color: #dd7b71; }

.other-catalog .swiper-slide a {
  background-color: rgba(240, 240, 240, 0.3); }

.other-catalog .swiper-slide .not-thumb {
  background-color: rgba(240, 240, 240, 0.3); }

.staff-loop .item article {
  background-color: #fff; }

.staff-loop .manage {
  color: #1a1a1a; }

.staff-loop .staff-name a {
  color: #1a1a1a; }

.staff-header .manage > span {
  color: #666;
  border: 1px solid #666; }

.staff-table th, .staff-table td {
  border-bottom: 1px solid #dd7b71; }

.staff-table th {
  color: #888; }

.staff-table td {
  color: #222; }

.staff-comment {
  color: #222;
  background-color: #fff; }

@media (min-width: 768px) {
  .staff-header .title {
    border-bottom: 1px solid #dd7b71; } }

.other-staff {
  background-color: #fff; }
  .other-staff .title {
    color: #666; }
    .other-staff .title .en {
      line-height: 1;
      font-family: "Playball", cursive;
      font-size: 28px; }
  .other-staff .btn-default {
    background-color: #aaa;
    border-color: #aaa; }

.other-staff-list .item {
  color: #888; }

.other-staff-list .manage {
  background-color: #fcfcfc;
  border: 1px solid #dd7b71; }

.other-staff-list .staff-list-next,
.other-staff-list .staff-list-prev {
  color: #fff;
  background: #aaa; }

.menu-title {
  border-bottom: 1px solid #dd7b71; }
  .menu-title .en {
    color: #1c1c1c; }
  .menu-title .jp {
    color: #888; }

.menu-container .menu-flex {
  border-bottom: 1px solid #dd7b71; }

.menu-container .menu-etc-text {
  color: #555; }

.menu-container .menu-time {
  color: #888; }

.menu-container .menu-time-num {
  background-color: #fff;
  border: 1px solid #fff; }

.menu-container .menu-price {
  color: #888; }

.menu-container .menu-other-text {
  color: #666;
  background-color: #fff; }

.salon-name {
  border-bottom: 1px solid #dd7b71; }
  .salon-name .en {
    color: #1c1c1c; }
  .salon-name .jp {
    color: #888; }

.salon-info-table th {
  color: #888; }

.salon-info-table td {
  color: #1c1c1c; }

.salon-info-table th, .salon-info-table td {
  border-bottom: 1px solid #dd7b71; }

.salon-photo-map .item {
  background-color: #fcfcfc; }

.salon-photo-map .image-map {
  border: 1px solid #ddd; }

.salon-access-flex {
  border-bottom: 1px solid #dd7b71; }

.salon-access-title .en {
  font-size: 44px;
  line-height: 1; }

.salon-access-route {
  color: #222;
  background-color: #fff; }

.topics-archive {
  border-bottom: 1px solid #ffd2c7; }

.topics-header .title a {
  color: #1a1a1a; }

.topics-content .datetime {
  font-family: "Playball", cursive;
  font-size: 20px;
  color: #222; }

@media (max-width: 767px) {
  .topics-content .content:after {
    background: transparent; } }

.post-archive {
  border-bottom: 1px solid #ffd2c7; }
  .post-archive .title a {
    color: #1a1a1a; }
  .post-archive .not-thumb {
    background: #fcfcfc; }
  .post-archive .cat {
    color: #888;
    background-color: #fcfcfc;
    border: 1px solid #ffd2c7; }
    .post-archive .cat a {
      color: #888; }
  .post-archive .datetime {
    font-family: "Playball", cursive;
    font-size: 20px;
    color: #1a1a1a; }
  .post-archive .content {
    color: #1a1a1a; }
    .post-archive .content:after {
      background: none; }
  @media (max-width: 767px) {
    .post-archive {
      background-color: #fff;
      box-shadow: 0 1px 2px 1px rgba(69, 69, 69, 0.2); }
      .post-archive .post-link:hover {
        background-color: #fcfcfc; }
      .post-archive .title:after {
        background-color: white;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 51%, white 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='rgba(255, 255, 255, 0)', EndColorStr='white'); } }

.post-single .title {
  margin-top: 15px;
  color: #222;
  border-bottom: 1px solid #ffd2c7; }

.post-single .datetime {
  font-family: "Playball", cursive;
  font-size: 20px;
  color: #1a1a1a; }

.post-single .cat {
  color: #888; }
  .post-single .cat a {
    font-size: 14px;
    color: #888;
    background-color: #f5f5f5;
    border: 1px solid #ffd2c7; }

.post-single .contents-body {
  color: #222; }

@media (min-width: 768px) {
  .post-single .datetime {
    font-size: 20px; } }

.social-count .fa-facebook, .social-count .fa-twitter {
  color: #aaa; }

.social-count .count {
  color: #aaa; }

.single-pager {
  border-top: 1px solid #ccc; }
  .single-pager a {
    color: #fff;
    background-color: #aaa;
    border: 1px solid #aaa; }

.channel-category {
  background-color: #fff; }
  .channel-category .cat-link-title {
    color: #666; }
  .channel-category .cat-link > li a {
    padding: 6px 14px;
    color: #fff;
    background-color: #aaa;
    border: 1px solid #aaa;
    transition: all 100ms ease-in; }
    .channel-category .cat-link > li a:hover {
      text-decoration: none;
      color: #fff;
      background-color: #dd7b71;
      border-color: #dd7b71; }
  .channel-category .cat-link > li.current a {
    color: #fff;
    background-color: #dd7b71;
    border-color: #dd7b71; }
  .channel-category .cat-link > li.channel-all a {
    padding-left: 20px;
    padding-right: 20px; }

.channel-loop .title {
  color: #454545;
  border-bottom: 1px solid #ffd2c7; }

/*--- WordPress ---*/
/* Archive Pager */
.pagination a {
  color: #888;
  background-color: #fff;
  border: 1px solid #ffd2c7;
  border-radius: 100%; }
  .pagination a:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
    opacity: .8; }

.pagination .inactive, .pagination .current {
  vertical-align: middle; }

.pagination .inactive {
  width: 38px;
  height: 38px;
  line-height: 38px;
  font-size: 15px; }

.pagination .current,
.pagination .active {
  width: 38px;
  height: 38px;
  font-size: 15px;
  line-height: 38px;
  color: #fff;
  background-color: #222;
  border-color: #222;
  border-radius: 100%; }

.pagination .prev, .pagination .next {
  width: auto;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ffd2c7;
  border-radius: 4px; }
  .pagination .prev.not, .pagination .next.not {
    color: #f2f2f2;
    text-shadow: 0 -1px 0 #e4e4e4;
    background-color: #f8f8f8;
    border: 1px solid #e4e4e4; }
  @media (min-width: 768px) {
    .pagination .prev, .pagination .next {
      padding-left: 24px;
      padding-right: 24px; } }

/* Single Pager */
.single-pager ul {
  list-style: none; }
  .single-pager ul > li {
    background-color: #ccc; }
    .single-pager ul > li a {
      color: #555; }

.page-pager > span {
  color: #fff;
  background-color: #dd7b71; }

.page-pager > a {
  background-color: #ccc; }
  .page-pager > a:hover {
    color: #fff;
    background-color: #dd7b71; }

.link-pages-wrapper > span {
  color: #fff;
  background-color: #dd7b71; }

.link-pages-wrapper > a {
  color: #454545;
  background-color: #f0f0f0;
  border: 1px solid #ddd; }
  .link-pages-wrapper > a:hover {
    color: #fff;
    background-color: #dd7b71;
    border-color: #dd7b71; }

.sidebar .widget .thumb .not-thumb {
  background-color: #fafafa; }
  .sidebar .widget .thumb .not-thumb:before {
    color: #ffd2c7; }

.sidebar .widgettitle {
  border-bottom: 1px solid #ffd2c7; }

.sidebar .widget_newpost time,
.sidebar .widget_popular time {
  font-family: "Playball", cursive;
  font-size: 14px;
  color: #454545; }

.sidebar .widget_newpost.topics time,
.sidebar .widget_popular.topics time {
  font-size: 16px; }

.sidebar .widget_newpost .title,
.sidebar .widget_popular .title {
  color: #454545;
  font-size: 14px; }

.sidebar .widget_search input[type="text"] {
  background-color: #ffd2c7; }
  .sidebar .widget_search input[type="text"]:focus {
    color: #222; }

.sidebar .widget_search button[type="submit"],
.sidebar .widget_search input[type="submit"] {
  color: #fff;
  background-color: #444; }

.sidebar .widget_archive li .tgl i {
  color: #888; }

.sidebar .tagcloud > a {
  color: #888;
  background-color: #fcfcfc;
  border: 1px solid #ffd2c7; }
/*# sourceMappingURL=maps/sweet.css.map */
